@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400&display=swap');

:root {
    font-family: 'Manrope', sans-serif;
}

body {
    background-color: rgb(20, 20, 20);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
}

.row span {
    font-size: 35px;
    font-weight: 400;
}

#result {
    display: block;
    text-align: end;
    width: 100%;
    font-size: 4em;
    font-weight: 300;
}

.result {
    margin-right: 10px;
}

.row span {
    height: 80px;
    width: 80px;
    margin: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#zero {
    flex: 2;
    border-radius: 50px;
}

.orange {
    background-color: rgb(255, 174, 0);
}

.lightgrey {
    background-color: rgb(197, 197, 197);
    color: rgb(32, 32, 32);
}

.grey {
    background-color: rgb(51, 51, 51);
}
